body{
  color: #000000;
}

a{
  color: #000000;
}

a:hover{
  color: #000000;
}

.nav-link:hover{
 color: #fff;
}

h1{
  text-shadow: 2px 2px 8px rgba(2, 2, 2, 0.507);
  color: #000000;
}

.footer{
  background-color: rgba(20, 32, 68, 0.5);
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.navbar{
  background-color: rgba(20, 32, 68, 0.5);
  padding: 15px;
  font-size: 18px;
}

.dropdown-item{
  color: #fff;
}

.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.8);
}

.container{
  min-height: 100vh;
}

@media (max-width: 500px){
  h1{
    font-size: 25px;
  }
}